* {
    margin: 0;
    border: 0;
    padding: 0%;
    font-family: 'Times New Roman', Times, serif;
}

header {
    display: flex;
    font-size: 36px;
    text-align: left;
    align-items: center; 
    justify-content: space-between;
    margin-bottom: 20px;
    color: rgb(77, 4, 77);
    background-color:rgba(176, 0, 164, 0.3);
    padding: 40px;
    
}
.sticky {
    
    position: sticky;
    top: 0;
    /*z-index: 100;*/

}
.inicio {
    /*display: flex;*/
    align-items: center;   
    justify-content: space-between; 
    padding: 20px;
}


h1 {
    font-size: 36px;
    text-align: left;
    margin-bottom: 20px;
    color: rgb(77, 4, 77);
    padding: 20px;
}

.hover-giro {
    display: block;
    margin-left: auto;
    width: 10%;
    border-radius: 50%;
    transition: transform 0.5s;

  }
  .hover-giro:hover {
    
    transform: rotateY(360deg);
}

h2 {   
    font-weight: bold; 
    color: rgb(77, 4, 77);
    font-size: 38px;
    padding: 20px;
    background-color:rgba(176, 0, 164, 0.3);
    border: 4px solid rgba(104, 2, 172, 0.61);
}

body {
    padding: 1em;
    background-color: #f0f0f0;
}

nav{
 
    background-position: right bottom, left top;
    padding: 15px;
    color: rgb(32, 32, 32);
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}

p{
    font-size: 36px;
    color: black;
    margin-bottom: 10px;
 
}

footer {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}

span {
  text-transform: right;
}

a {
    font-weight: bold; 
    text-align:center;
}

button[type=button]{
    font-size: 40px;
    border-style: solid;
    border-color: #000000;
    background-color: rgb(153, 0, 255);
  }

input[type=text] {

    width: 100%;
    font-size: 32px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
  }
input[type=number] {
    width: 100%;
    font-size: 32px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

input[list=provincias] {

    width: 100%;
    font-size: 32px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
  }
button[type=button] {
    width: 100%;
    background-color: rgb(153, 0, 255);
    color: white !;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

table, th, td {  
    border-collapse: collapse;  
    border: 1px solid black;
    font-size: 32px;
    padding: 12px 20px;
    margin: 8px 0;
}
.foto {
  width:500px;
  height:800px;
}
.pie {
  border-radius: 50%;
}  
.dot {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: inline-block;    
    background-color: rgba(104, 2, 172, 0.61);
}  
 